@import 'colours';
@import 'icon';
@import 'page-break';

.form-builder__component {
  position: relative;

  .form-builder__component__highlight {
    position: absolute;
    left: -15px;
    right: -15px;
    top: -15px;
    bottom: 0;
    background: rgba(201, 232, 229, 0.9);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    padding: 15px 15px 0;
    border: 2px solid transparent;
    z-index: 50;
  }

  .form-builder__component__actions {
    position: absolute;
    top: -2px;
    left: 0;
    width: 42px;
    visibility: hidden;

    .button {
      background: $colour-primary;
      color: #fff;
      border: 1px solid $colour-primary;
      border-radius: 3px;
      float: none;
      display: block;
      margin: 0 0 3px;
      box-shadow: none;
    }

    .button--danger {
      background: $colour-danger;
      border: 1px solid $colour-danger;
    }

    .button--icon {
      width: 32px;
      height: 32px;
      padding: 5px;

      .icon {
        fill: #fff;
      }

      .button--icon__text {
        position : absolute;
        left: -9999em;
        height: 0;
        width: 0;
      }
    }
  }

  .form-group, .section {
    z-index: 1000;
    position: relative;

    .form-control {
      background: #fff;
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.form-builder__component--hover {
  & > .form-builder__component__highlight {
    opacity: 1;
    border-color: #28A197;

    .form-builder__component__actions {
      top: -2px;
      left: -42px;
      visibility: visible;
    }
  }
}

.editable-field__input {
  margin: 0;
  padding: 0;
  width: 50%;
  position: relative;
  top: -1px;
  left: -1px;
}

#global-header #logo {
  background-image: url('/static/gov.uk_logotype_crown.png');
  background-size: 36px 32px;
  background-position: 1px 0;
  background-repeat: no-repeat;
}

#footer .footer-meta .copyright a {
  background-image: url('/static/govuk-crest.png');
}
#footer .footer-meta .footer-meta-inner .open-government-licence .logo a {
  background-image: url('/static/open-government-licence.png');
}
